html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    width: 100%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */

/* Write your css below here */

.logo {
    width: 170px !important;
    height: 40% !important;
}

header {
    background: #e23c3c !important;
}

.navbar-toggler-icon {
    font-size: 16px;
    color: white;
}

.top p {
    font-size: 14px;
}

.nav-link {
    font-weight: 500 !important;
    color: white !important;
    font-size: 14px;
}
.bottom {
    margin-top: 90px;
    height: 50px;
    background-color: #f4f5f4;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}

.form-head,
.form-foot {
    background-color: #f4f5f4;
    font-size: 14px;
}

.form-foot a {
    text-decoration: none;
}

.sign-in {
    background-color: #e23c3c;
}

.sign-icon {
    background-color: #cd1e1e;
}

.contact {
    background-color: #ffeded;
}
